@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap');

@font-face {
    font-family: 'conthraxsemibold';
    src: url('../assets/conthrax-sb-webfont.woff2') format('woff2'),
        url('../assets/conthrax-sb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'conthraxsemibold', sans-serif;
    font-weight: 500;
}

.conthrax {
    font-family: 'conthraxsemibold', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}

.body {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image:
        radial-gradient(at 26% 0%, hsla(224, 100%, 50%, 0.5) 0px, transparent 50%),
        radial-gradient(at 96% 94%, hsla(278, 100%, 68%, 0.43) 0px, transparent 50%);
}

.second-body {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image:
        radial-gradient(at 29% 62%, hsla(182, 100%, 50%, 0.5) 0px, transparent 50%),
        radial-gradient(at 99% 0%, hsla(278, 100%, 68%, 0.43) 0px, transparent 50%);
}

.third-body {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 1);
    background-image:
        radial-gradient(at 100% 100%, hsla(266, 100%, 70%, 0.63) 0px, transparent 50%),
        radial-gradient(at 31% 37%, hsla(226, 100%, 50%, 0.51) 0px, transparent 50%);
}

.main-body {
    position: relative;
    z-index: 1;
}

.fontsize-1 {
    font-size: 64px;
    line-height: 74px;
}

.ingfo {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 38px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.heroimg {
    animation: myAnim 60s linear 0s infinite normal forwards;
}

.user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pengertian-box {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.kml-box {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.kml-box-2 {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}







#particles-js {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.7;
}

@keyframes myAnim {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(.7);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}